.holder {
  #second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 80px;
    .info {
      display: flex;
      flex-direction: column;
      gap: 30px;
      width: 1281px;
    }
  }
  #team {
    margin-top: 183px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-bottom: 150px;
    .team-con {
      display: flex;
      align-items: center;
      gap: 58px;
      .icon {
        width: 15px;
        height: 27px;
      }
      .card-holder {
        display: flex;
        gap: 50px;
        .card {
          background: #131129;
          border-radius: 10px;

          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 30px;
          gap: 30px;

          .text {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            h5 {
              color: #bcbcbc;
              font-weight: 600;
              font-size: 14px;
            }
            h2 {
              font-weight: 700;
              font-size: 20px;
            }
          }
          .socials {
            display: flex;
            gap: 15px;
            .social-icon {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }
  }
}
