.container {
  position: relative;
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -3;
  }
  .blur {
    background: linear-gradient(
      357.33deg,
      #000000 22.15%,
      rgba(0, 0, 0, 0.583333) 42.24%,
      rgba(0, 0, 0, 0.333333) 59.28%,
      rgba(0, 0, 0, 0) 106.02%,
      rgba(0, 0, 0, 0) 106.02%
    );
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
  }
  .left-blur {
    top: 1632px;
    height: 900px;
    width: 584px;
    position: absolute;
    z-index: -1;
  }
  .right-bot {
    right: 0px;
    height: 900px;
    bottom: 747px;
    width: 454px;
    position: absolute;
    z-index: -1;
  }
  .right-blur {
    right: 0px;
    height: 900px;
    top: 887px;
    width: 454px;
    position: absolute;
    z-index: -1;
  }

  .left-bot {
    bottom: 0% !important;
    height: 900px;
    width: 584px;
    position: absolute;
    z-index: -1;
  }
  .blur-img {
    left: 0;
    top: 500px;
    z-index: -1;
    height: 1000px;
    width: 684px;
    position: absolute;
  }

  .margin-box {
    padding: 50px 60px;
  }
  #header {
    position: relative;
    main {
      margin: 113px 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
        width: 557px;
        height: 388px;
      }

      .text {
        display: flex;
        flex-direction: column;
        gap: 15px;
        .p {
          width: 444px;
          line-height: 24px;
        }
        form {
          display: flex;
          gap: 15px;
          margin-top: 15px;

          .input-box {
            width: 192px;
            input {
              background: rgb(8, 14, 32);
            }
          }
        }
      }
    }
  }

  #hero-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 15px;
    gap: 140px;

    .flex-box {
      display: flex;
      gap: 30px;

      .block-1 {
        display: flex;
        flex-direction: column;
        background: #131129;
        border-radius: 10px;
        padding: 36px 28px;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 15px;
        position: relative;
        .hats {
          width: 238px;
          height: 200px;
          position: absolute;
          margin: auto;
          top: -24%;
          right: 0;
          left: 0;
        }
        h3 {
          font-size: 24px;
          font-weight: 600;
          margin: 0;
          margin-top: 50px;
        }
        .btn {
          width: 100%;
          margin-top: 15px;
        }
      }
    }
  }
  #hero-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
    gap: 70px;
    .flex-box {
      display: flex;
      gap: 50px;
      .block {
        width: 200px;
        height: 100px;
      }
      .block.center {
        width: 188px;
        height: 87px;
      }
      .block.babs {
        width: 281px;
        height: 88px;
      }
    }
  }
}
#contact-us {
  display: flex;
  justify-content: space-between;
  padding: 0 44px;
  align-items: center;
  .contact-box {
    width: 514px;
    display: flex;
    flex-direction: column;
    h1 {
      margin-bottom: 50px;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .input-box {
        width: 100%;
        input,
        textarea {
          background: #000;
        }
        textarea {
          height: 221px;
          resize: none;
        }
      }
      .btn {
        width: 100%;
        text-align: center;
        margin-top: 15px;
      }
    }
  }
}
footer {
  margin-top: 100px;
}
