.container {
  position: relative;
  overflow: hidden;

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -3;
    object-fit: cover;
  }
  .blur {
    background: linear-gradient(
      357.33deg,
      #000000 22.15%,
      rgba(0, 0, 0, 0.583333) 42.24%,
      rgba(0, 0, 0, 0.333333) 59.28%,
      rgba(0, 0, 0, 0) 106.02%,
      rgba(0, 0, 0, 0) 106.02%
    );
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
  }
  .left-blur {
    top: 1632px;
    height: 900px;
    width: 584px;
    position: absolute;
    z-index: -1;
  }
  .right-bot {
    right: 0px;
    height: 900px;
    bottom: 747px;
    width: 454px;
    position: absolute;
    z-index: -1;
  }
  .right-blur {
    right: 0px;
    height: 900px;
    top: 887px;
    width: 454px;
    position: absolute;
    z-index: -1;
  }

  .left-bot {
    bottom: 0% !important;
    height: 900px;
    width: 584px;
    position: absolute;
    z-index: -1;
  }
  .blur-img {
    left: 0;
    top: 500px;
    z-index: -1;
    height: 1000px;
    width: 684px;
    position: absolute;
  }
  .big-flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .margin-box {
    padding: 50px 0px;
    width: 1320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (max-width: 767px) {
      width: 320px;
      padding: 30px 0px;
    }
  }
  #header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    main {
      margin: 113px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
        width: 557px;
        height: 388px;
      }
      @media (max-width: 767px) {
        flex-direction: column-reverse;
        margin: 50px 20px;
        gap: 60px;
        width: 320px;
        img {
          width: 320px;
          height: 235px;
        }
      }
      .text {
        display: flex;
        flex-direction: column;
        gap: 15px;
        .p {
          line-height: 24px;
        }
        form {
          display: flex;
          gap: 15px;
          margin-top: 15px;
          @media (max-width: 767px) {
            flex-direction: column-reverse;
          }
          .input-box {
            width: 192px;
            input {
              background: rgb(8, 14, 32);
            }
          }
        }
        @media (max-width: 767px) {
          gap: 20px;
          .scroll {
            height: 70px;
            position: relative;
            overflow: hidden;
            // scroll-snap-align: center;
            // scroll-snap-type: proximity;
            h1 {
              width: 222px;
              animation: scroll 6s ease infinite forwards;
              background: linear-gradient(
                90.96deg,
                #1f8ebe 44.11%,
                #ae61ed 91.76%
              );
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
            @keyframes scroll {
              0% {
                transform: translateY(0px);
              }
              50% {
                transform: translateY(-56px);
              }
              70% {
                transform: translateY(-115px);
              }
              100% {
                transform: translateY(-190px);
              }
            }
          }
        }
      }
    }
  }

  #hero-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 15px;
    gap: 140px;

    .flex-box {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      width: 100%;
      @media (max-width: 767px) {
        flex-direction: column;
        gap: 100px;
      }
      .block-1 {
        display: flex;
        flex-direction: column;
        background: #131129;
        border-radius: 10px;
        padding: 36px 28px;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 15px;
        position: relative;
        .hats {
          width: 238px;
          height: 200px;
          position: absolute;
          margin: auto;
          top: -24%;
          right: 0;
          left: 0;
        }
        h3 {
          font-size: 24px;
          font-weight: 600;
          margin: 0;
          margin-top: 50px;
        }
        .btn {
          width: 100%;
          margin-top: 15px;
        }
        @media (max-width: 767px) {
          width: 320px;
        }
      }
    }
  }
  #hero-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
    margin-bottom: 248px;
    gap: 70px;
    .flex-box {
      display: flex;
      gap: 50px;
      @media (max-width: 767px) {
        flex-direction: column;
        margin-top: 30px;
      }
      .block {
        width: 200px;
        height: 100px;
      }
      .block.center {
        width: 188px;
        height: 87px;
      }
      .block.babs {
        width: 281px;
        height: 88px;
      }
    }
  }
}
#contact-us {
  display: flex;
  justify-content: center;
  padding: 0 44px;
  align-items: center;
  gap: 65px;
  @media (max-width: 767px) {
    flex-direction: column-reverse;
  }
  .contact-box {
    width: 515px;
    display: flex;
    flex-direction: column;
    h1 {
      margin-bottom: 50px;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .input-box {
        width: 100%;
        input,
        textarea {
          background: #000;
        }
        textarea {
          height: 221px;
          resize: none;
        }
      }
      .btn {
        width: 100%;
        text-align: center;
        margin-top: 15px;
      }
    }
    @media (max-width: 767px) {
      width: 100%;
    }
  }
}
footer {
  margin-top: 100px;
  width: 100%;
}
