@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}
::-webkit-scrollbar {
  width: 0;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1,
p {
  margin: 0;
}
.btn {
  background: linear-gradient(91.99deg, #1f8ebe 0%, #ae61ed 99.4%);
  box-shadow: 0px 17px 33px rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 12px 24px;
  width: fit-content;
  p {
    font-size: 14px !important;
    font-weight: 600 !important;
  }
}
h1 {
  font-weight: 800;
  font-size: 48px;
  span {
    background: linear-gradient(90.96deg, #1f8ebe 44.11%, #ae61ed 91.76%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}
